/* Default Template Styles */

/* Typography */
header p { border-width: 0; margin: 0; padding: 0;}
main p { border-width: 0; margin: 0; padding: 0;}
footer p { border-width: 0; margin: 0; padding: 0;}
button{outline:none!important;}
body {
  background: #fff;
}
p {
  color: #777;
  font-size: 0.85rem;
  line-height: 1.6rem;
}
a, a:link, a:visited, a:hover, a:active {
color: #777;
}
h1, h2, h3, .h1 {
  color: #000;
  margin-bottom: 15px;
  margin-top: 0;
}
h1, .h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.4rem;
}
h3{
  font-size: 1.2rem;
}


.text-size-12 {
  font-size: 12px !important;
  line-height: 1.4;
}
.text-size-16{
  font-size: 16px !important;
  line-height: 1.4;
}
.text-size-20 {
  font-size: 20px !important;
  line-height: 1.4;
}
.text-size-25 {
  font-size: 25px !important;
  line-height: 1.4;
}
.text-size-30 {
  font-size: 30px !important;
  line-height: 1.4;
}
.text-size-40 {
  font-size: 40px !important;
  line-height: 1.4;
}
.text-size-45 {
  font-size: 45px !important;
  line-height: 1.4;
}
.text-size-50 {
  font-size: 50px !important;
  line-height: 1.4;
}
.text-size-60 {
  font-size: 60px !important;
  line-height: 1.4;
}

.text-right {
  text-align: right;
}
.text-thin {
  font-weight: 300;
}
strong{
  font-weight: 700;
}

a.text-tag:link {
  border: 1px solid #e5e5e5;
  display: inline-block;
  float: left;
  font-size: 0.75rem;
  margin: 1px 2px 1px 0;
  padding: 6px 9px;
}
a.text-tag:link:hover {
  background: #002633 none repeat scroll 0 0;
  border: 1px solid #002633;
  color: #fff;
  transition: all 0.20s linear 0s;
  -o-transition: all 0.20s linear 0s;
  -ms-transition: all 0.20s linear 0s;
  -moz-transition: all 0.20s linear 0s;
  -webkit-transition: all 0.20s linear 0s;
}

iframe {
  display: block;
  margin: 0;
}

/* Tables */
table tr:nth-of-type(2n) {
  background:none repeat scroll 0 0 #f5f5f5;
  border-top:1px solid #f0f0f0;
  border-bottom:1px solid #f0f0f0;
}

/* Backgrounds */
.background-white-hightlight .top-nav li a:hover,
.background-white-hightlight .aside-nav li a:hover,
.background-white-hightlight .aside-nav > ul > li.active-item > a:link,
.background-white-hightlight .aside-nav > ul > li.active-item > a:visited,
.primary-color-white .background-primary-hightlight .top-nav li a:hover,
.primary-color-white .background-primary-hightlight .aside-nav li a:hover,
.primary-color-white .background-primary-hightlight .aside-nav > ul > li.active-item > a:link,
.primary-color-white .background-primary-hightlight .aside-nav > ul > li.active-item > a:visited {
  background: #fff none repeat scroll 0 0;
  color: #002633;
}

.background-primary-hightlight .top-nav li a:hover,
.background-primary-hightlight .aside-nav li a:hover,
.background-primary-hightlight .aside-nav > ul > li.active-item > a:link,
.background-primary-hightlight .aside-nav > ul > li.active-item > a:visited,
.primary-color-primary .background-primary-hightlight .top-nav li a:hover,
.primary-color-primary .background-primary-hightlight .aside-nav li a:hover,
.primary-color-primary .background-primary-hightlight .aside-nav > ul > li.active-item > a:link,
.primary-color-primary .background-primary-hightlight .aside-nav > ul > li.active-item > a:visited {
  background: #C81010 none repeat scroll 0 0;
  color: #fff;
}

.background-dark-hightlight .top-nav li a:hover,
.background-dark-hightlight .aside-nav li a:hover,
.background-dark-hightlight .aside-nav > ul > li.active-item > a:link,
.background-dark-hightlight .aside-nav > ul > li.active-item > a:visited,
.primary-color-dark .background-primary-hightlight .top-nav li a:hover,
.primary-color-dark .background-primary-hightlight .aside-nav li a:hover,
.primary-color-dark .background-primary-hightlight .aside-nav > ul > li.active-item > a:link,
.primary-color-dark .background-primary-hightlight .aside-nav > ul > li.active-item > a:visited {
  background: #002633 none repeat scroll 0 0;
  color: #fff;
}


/* Breaks */
hr.break {
  border: 0;
  border-top: 1px solid #e5e5e5;
  display: block;
  margin: 40px 0;
}
hr.break:after {
clear:both;
content:".";
display:block;
height:0;
line-height:0;
visibility:hidden;
}

/* Small Breaks */
hr.break-small {
  background: #e5e5e5;
  border: 0;
  display: block;
  height: 2px;
  margin: 20px 0 35px;
  width: 60px;
}
hr.break-small.break-center {
  margin: 20px auto 35px;
}
hr.break-small.break-double {
  height: 0;
  margin-bottom: 39px;
}
hr.break-small.break-double:before {
  background: #e5e5e5;
  border: 0 none;
  content: "";
  display: block;
  height: 2px;
  margin: 5px 0 0;
  width: 60px;
}
hr.break.break-small.break-double:after {
  background: #e5e5e5;
  border: 0 none;
  content: "";
  display: block;
  height: 2px;
  margin: 4px 0 35px;
  width: 60px;
}
hr.break-small.break-center.break-double:before {
  margin: 5px auto 0;
}
hr.break.break-small.break-center.break-double:after {
  margin: 4px auto 35px;
}
hr.break-small.break-double.background-white:before, hr.break-small.break-double.background-white:after,
.primary-color-white hr.break-small.break-double.background-primary:before, .primary-color-white hr.break-small.break-double.background-primary:after {
  background: #fff;
}
hr.break-small.break-double.background-primary:before, hr.break-small.break-double.background-primary:after,
.primary-color-primary hr.break-small.break-double.background-primary:before, .primary-color-primary hr.break-small.break-double.background-primary:after {
  background: #C81010;
}

/* Top Nav */
.top-nav li a {
  color: #002633;
  font-size: 1.1rem;
  padding: 0.7em 1.25em;
}
nav {
  border-bottom: 4px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1.7rem 0;
  position: relative;
  z-index: 2;
}

ul.chevron .submenu > a::after, ul.chevron .sub-submenu > a::after, ul.chevron .aside-submenu > a::after, ul.chevron .aside-sub-submenu > a::after {
  margin: 0 0 0 0.625rem;
}

.sticky {
  transition: all 0.20s linear 0s;
  -o-transition: all 0.20s linear 0s;
  -ms-transition: all 0.20s linear 0s;
  -moz-transition: all 0.20s linear 0s;
  -webkit-transition: all 0.20s linear 0s;
}
.fixed {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
nav.fixed, .fixed nav {
  padding: 1rem 0;
}
/* Font colors */
.background-white,
.background-white p,
.background-white a,
.background-white a:link,
.background-white a:visited,
.background-white a:hover,
.background-white a:active {
  color: #000;
}

.background-white h1,
.background-white h2,
.background-white h3 {
  color: #002633;
}

.background-dark h2{
  color: #fff;
}

.text-white, .text-white * {
  color: #fff !important;
}
.text-red, .text-red * {
  color: #C81010!important;
}

.text-dark, .text-dark *{
  color: #002633 !important;
}

/* Background Colors */
.background-white{
  background-color: #fff !important;
}
.background-primary {
  background-color: #C81010 !important;
}
.background-dark {
  background-color: #002633 !important;
}

/* Buttons */
.button, a.button, a.button:link, a.button:visited {
  border-color: rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 1px;
  color: black;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  text-align: center;
  transition: all 0.20s linear 0s !important;
  -o-transition: all 0.20s linear 0s !important;
  -ms-transition: all 0.20s linear 0s !important;
  -moz-transition: all 0.20s linear 0s !important;
  -webkit-transition: all 0.20s linear 0s !important;
}

/* Stroke Buttons */
.button.button-white-stroke,
a.button.button-white-stroke,
a.button.button-white-stroke:link,
a.button.button-white-stroke:visited {
  background: none;
  border: 1px solid #fff;
  box-shadow: none;
}
.button.button-white-stroke:hover,
a.button.button-white-stroke:hover {
  background: #fff none repeat scroll 0 0;
  color: #002633;
}

.button.button-dark-stroke,
a.button.button-dark-stroke,
a.button.button-dark-stroke:link,
a.button.button-dark-stroke:visited {
  background: none;
  border: 1px solid #002633;
  box-shadow: none;
  color: #002633;
}
.button.button-dark-stroke:hover,
a.button.button-dark-stroke:hover {
  background: #002633 none repeat scroll 0 0;
  color: #fff;
}
.button.button-dark-stroke:hover *{
  color: #fff;
}

/* Containers */
.section  {
  padding: 2rem 1.25rem;
  padding-bottom: 2rem;
}

.padding {
  padding: 1.25rem!important;
}
.padding-2x {
  padding: 2.5rem!important;
}
.full-width:after {
  clear:both;
  content:".";
  display:block;
  height:0;
  line-height:0;
  visibility:hidden;
}
.full-width > .line {
    padding: 0 1.875rem;
}

/* Margins */
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin-bottom-10 {
  margin-bottom: 10px!important;
}
.margin-bottom-30 {
  margin-bottom: 30px!important;
}
.margin-top-bottom-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;

}
.margin-top-bottom-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;

}

.margin-top-bottom-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}


/* Forms */
form.customform input, form.customform textarea {
  background: rgba(0, 0, 0, 0.03) none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0.14);
  font-size: 12px;
  padding: 0.625rem;
  width: 100%;
}
form.customform input:hover, form.customform textarea:hover, form.customform select:hover, form.customform input:focus, form.customform textarea:focus, form.customform select:focus {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
p.form-error {
  background-color: #DD442C;
  color: #fff;
  display: none;
  font-size: 0.8rem;
  margin: -10px 0 15px 0;
  padding: 7px;
  text-align: center;
}
.required {
  border-left: 1px solid #dd442c !important;
}


/* -1120px version */
@media screen and (max-width:1120px) {
  .size-1140 .line.content-center-vertical {
      padding: 0 2rem;
  }
}

/* -768px version */
@media screen and (max-width:768px) {
    .top-nav .right {
      float: none;
    }

    .nav-text {
      color: #fff;
      display: block;
      font-size: 1.2rem;
      line-height: 3rem;
      margin-right: 0.625rem;
      max-width: 100%;
      text-align: center;
      vertical-align: middle;
    }
    .nav-text::after {
      color: #002633;
      display: inline-block;
      font-size: 3rem;
      margin-left: 0;
      margin-top: 30px;
    }
    .top-nav li a, .background-white .top-nav li a {
      background: #002633 none repeat scroll 0 0;
      color: #fff;
      font-size: 1.1em;
      padding: 1em;
      text-align: center;
    }
    .margin-m-bottom {
        margin-bottom: 1.25rem !important;
    }
    .margin-m-bottom-30 {
        margin-bottom: 30px !important;
    }

    .text-m-size-30 {
        font-size: 30px !important;
        line-height: 1.4;
    }
    .text-m-size-40 {
        font-size: 40px !important;
        line-height: 1.4;
    }

}

/* Typography */

.text-line-height-1 {
  line-height: 1;
}

/* Custom Template Styles */

h1, h2, h3, .h1{
  font-family: "Playfair Display";
}

header.position-absolute {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav {
  border-bottom: 0px solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  padding: 0 2rem;
  position: relative;
  z-index: 2;
}

nav.fixed, .fixed nav {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  padding: 0 2em;
}

.background-transparent {
  background: none;
}

.top-nav li a {
  color: #000;
  padding: 1.5rem;
  transition: all 0.20s linear 0s;
-o-transition: all 0.20s linear 0s;
-ms-transition: all 0.20s linear 0s;
-moz-transition: all 0.20s linear 0s;
-webkit-transition: all 0.20s linear 0s;
}




/* Buttons */
.button, a.button, a.button:link, a.button:visited {
border: 0;
}

@media screen and (max-width:768px) {
  header.position-absolute {
    background: #fff none repeat scroll 0 0;
    position: relative;
  }

  .nav-text::after {
    color: #002633;
  }
  .fixed {
    position: relative;
    z-index: 10;
  }
  .fixed .nav-text::after {
    color: #002633;
  }
  .top-nav li a{
    border-top: 1px solid #f5f5f5;
    color: #000;
    opacity: 1;
  }
  .top-nav li a{
    background: #fff none repeat scroll 0 0;
    font-size: 1.5em;
    padding: 1.2em 1em;
  }

  nav.fixed .top-nav li a, .fixed nav .top-nav li a {
    color: #000;
  }
  .background-transparent-hightlight .top-nav .active-item > a, .background-transparent-hightlight .top-nav li a:hover, .background-transparent-hightlight .aside-nav li a:hover, .background-transparent-hightlight .aside-nav > ul > li.active-item > a:link, .background-transparent-hightlight .aside-nav > ul > li.active-item > a:visited {
    color: #000;
  }

}

#landing-text-div {
  background-image:url("https://image.ibb.co/dKbZbQ/Water_Header.jpg");
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position: center;
  height:100vh;
  width:100%;
}

.v-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#get-started-btn{
  margin-top:50px;
  width: 75%;
}
.text-shadow-black {
  text-shadow: 2px 2px 0px #fff;
}

.footer-border {
  border-color: rgba(0, 38, 51, 0.80);
}

div > iframe {
  display: block;
  margin: 0 auto;
}

.iframe-div {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}

.order-button {
  margin-bottom: 20px;
}

.text-description > h3 {
  margin-bottom: 10px;
}

.text-description > p {
  margin-bottom: 20px;
}

.sticky-nav {
  background-color: #fff;
}

.ytplayer-div{
  border: 1px solid black;
  height: 310px;
  margin: 10px;
}

.pubmed-break{
  margin-bottom: 20px!important;
}

.pubmed-outlinks {
  margin-bottom: 10px;
}

.width-100{
  width:100%;
}
.footer-section {
  text-align: center!important;
}

.center {
  float:none;
  margin:0 auto;
  display:block;
}

#kangen {
  margin-right: 35px;
}

.center-images {
  display:block;
  margin:auto;
}

.images-300x300 {
  max-width: 300px;
  max-height: 300px;
}

.width-40 {
  width: 40%;
}

.no-wrap{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.display-none{
  display:none!important;
}

.section-shop-light{
  padding: 2rem 1.25rem;
}

/* modal background */
.modal {
  display: none; /* hidden by default */
  position: fixed; /* stay in place */
  z-index: 3; /* stays on top */
  padding-top:40px; /*location of the box */
  padding-bottom: 40px;
  left: 0;
  top: 0;
  width: 100%; /* full width */
  height: 100%; /* full height */
  overflow: auto; /*enable scroll if needed */
  background-color: rgb(0,0,0); /* fallback color */
  background-color: rgba(0,0,0,0.9) /* black with opacity */
}

/* modal content/box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto; /* 15% frm the top and centered */
  padding: 0px;
  border: 1px solid #888;
  max-width:80%; /* could be more or less, depending on screensize */
  /* slide animation */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* add animation */
@-webkit-keygrames animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/* the close button */

.close{
  color:white;
  font-size:28px;
  font-weight:bold;
  float: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  height: 50px;
}

.modal-header-text{
  float:left;
  margin-top: 10px;
}

.modal-body {
  padding:20px 16px;
}
.modal-img {
  margin-top: 50px;
  max-width: 268px;
  max-height: 268px;
  display:block;
  margin:auto;
}

.modal-body-text-div > p {
  color:#002633!important;
}
.modal-body-p {
  margin-top: 10px;
}

.modal-body-a {
  width: 248px;
}

.modal-body-h3{
  margin-top:10px;
}
/* end of modal css*/

#recaptcha {
  width: 304px;
  margin: 0 auto;
}

textarea { resize: vertical; }
/*pushdown button structure*/
.btn-push {
  position: relative;
  top: 0px;
  font-family: "Open Sans";
  text-decoration: none;
  font-size: 0.85rem;
  text-align:center;
  background: #f7f7f7;
  padding: 15px 50px;
  margin: 0;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #c4c4c4;
  -moz-box-shadow: 0px 5px 0px #c4c4c4;
  -ms-box-shadow: 0px 5px 0px #c4c4c4;
  -o-box-shadow: 0px 5px 0px #c4c4c4;
  box-shadow: 0px 5px 0px #c4c4c4;
  color: #222;
  text-shadow: 1px 1px 1px #fff;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}

/*active state of pushdown button*/
.btn-push:active {
  position: relative;
  top: 5px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: All 50ms ease;
  -moz-transition: All 50ms ease;
  -o-transition: All 50ms ease;
  -ms-transition: All 50ms ease;
  transition: All 50ms ease;
}

/*navy*/
.btn-push.navy {
  background: #1b486d!important;
  border: 1px solid #153855;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #153855;
  -moz-box-shadow: 0px 5px 0px #153855;
  -ms-box-shadow: 0px 5px 0px #153855;
  -o-box-shadow: 0px 5px 0px #153855;
  box-shadow: 0px 5px 0px #153855;
  color: #fff!important;
  text-shadow: 1px 1px 1px #153855;
  margin-bottom: 10px;
}

/*green color*/
.btn-push.green {
  background: #5cb85c!important;
  border: 1px solid #46963f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #46963f;
  -moz-box-shadow: 0px 5px 0px #46963f;
  -ms-box-shadow: 0px 5px 0px #46963f;
  -o-box-shadow: 0px 5px 0px #46963f;
  box-shadow: 0px 5px 0px #46963f;
  color: #fff!important;
  text-shadow: 1px 1px 1px #46963f;
  margin-bottom: 10px;
}
